/* Variables */
:root {
    --color-text: #787878;
    --color-title: #4E4E4E;
    --color-radius-icon: #D3D3D3;
    --color-section: #F2F2F2;
    --color-violet: #61458C;
    --color-map-filter: #79629E;
}

/* Import icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

/* Global rules */
*{  
    font-family:'Open Sans', sans-serif;
    text-align: justify;
    max-width: 1280px;
    margin: 0 auto;
}

/* Section header */
header{
    & .hero-image{
        height: 65vh;
        background-image: url('/media/img/header.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        & h1{
            color:white;
        }
    }
    & nav{
        background-color: var(--color-violet);
        & .navbar-toggler:focus {
            box-shadow: none !important;
            background-color: lightgray;
        }
        & li{
            & a{
                color:white;
            }
            & a:hover{
                color:var(--color-violet);
                background-color: #fff;
            }
        }
        & hr{
            color:white;
        }
    }
}

/* Section who_we_are */
#who_we_are{
    background-color: var(--color-section);
    & h2, h3{
        color: var(--color-title);
    }
    & p{
        color:var(--color-text);
    }
}

/* Section our_services */
#our_services{
    & h2, h3{
        color: var(--color-title);
    }
    & p{
        color:var(--color-text);
    }
    .circle{
        width: 5rem;
        height: 5rem;
        border: 0.3rem solid var(--color-radius-icon);
        transition: all 0.5s;
        & i{
            color: var(--color-violet);
            transition: all 0.5s;
        }
    }
    .circle:hover{
        background-color: var(--color-violet);
        border: 0.3rem solid var(--color-violet);
        & i{
            color:white;
        }
    }
}

/* Section portafolio */
#portafolio{
    background-color: var(--color-section);
    & h2{
        color: var(--color-title);
    }
    & p{
        color:var(--color-text);
    }
    & img{
        transition: all 0.5s;   
    }
    & img:hover{
        transform: rotate(-15deg);
    }
    & :nth-child(5):hover{
        transform: rotate(360deg);
        border-radius: 50%;
    }
}

/* Section location */
#location{
    & h2, h4, p, address{
        color: var(--color-title);
    }
}

/* Section email_us */
#email_us{
    background-color: var(--color-map-filter);
    background-image: url('/media/img/map-image.png');
    & h2{
        color:white;
    }
    & label{
        color: white;
    }
    & button{
        color:var(--color-title);
        background-color:var(--color-section);
    }
    & button:hover{
        background-color: var(--color-radius-icon);
    }
}

/* Section rick and morty */
#rickandmorty{
    background-color: var(--color-section);
}

/* Div of intersection observer  */
.nextRequest {
    height: 10rem;
    background: var(--color-section);
}

footer{
    background-color: var(--color-violet);
    & p{
        color:white;
        & a{
            color:white;
        }
    }
}

/* Modal help */

.modalShow {
    display: block !important;
    left: auto !important;
}

.modal-dialog {
    --bs-modal-width: none;
    max-width: 700px;
}

/* Media queries */
@media(width<768px){
    header{
        .hero-image{
            background-image: url('/media/img/header-mini.png');
        }
    }
    #our_services{
        .circle{
            pointer-events:none;
        }
    }
    #portafolio{
        & img{
            pointer-events:none;
        }
    }
    #location{
        & iframe{
            width:15rem;
            height:15rem;
        }
    }
    #email_us{
        & button{
            pointer-events:none;
        }
    }
}







