:root {
    --color-text: #787878;
    --color-title: #4E4E4E;
    --color-radius-icon: #D3D3D3;
    --color-section: #F2F2F2;
    --color-violet: #61458C;
    --color-map-filter: #79629E;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');
*{  
    font-family:'Open Sans', sans-serif;
    text-align: justify;
}
header{
    & .hero-image{
        height: 65vh;
        background-image: url('/media/img/header.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        & h1{
            color:white;
        }
    }
    & nav{
        background-color: var(--color-violet);
        & .navbar-toggler:focus {
            box-shadow: none !important;
            background-color: lightgray;
        }
        & li{
            & a{
                color:white;
            }
            & a:hover{
                color:var(--color-violet);
                background-color: #fff;
            }
        }
        & hr{
            color:white;
        }
    }
}
#who_we_are{
    background-color: var(--color-section);
}
#our_services{
    .circle{
        width: 5rem;
        height: 5rem;
        transition-duration: 0.5s;
        & i{
            color: var(--color-violet);
            transition-duration: 0.5s;
        }
        & i:hover{
            color:white;
        }
    }
    .circle:hover{
        background-color: var(--color-violet);
    }
}
#portafolio{
    background-color: var(--color-section);
    & img{
        transition-property: all;
        transition-duration:1s;   
    }
    & img:hover{
        transform: rotate(-15deg);
    }
    & :nth-child(5):hover{
        transform: rotate(360deg);
        border-radius: 50%;
    }
}
#email_us{
    background-color: var(--color-map-filter);
    background-image: url('/media/img/map-image.png');
    & h2{
        color:white;
    }
    & label{
        color: white;
    }
    & button{
        background-color:var(--color-section);
    }
    & button:hover{
        background-color: var(--color-radius-icon);
    }
}
footer{
    background-color: var(--color-violet);
    & p{
        color:white;
        & a{
            color:white;
        }
    }
}
@media(width<768px){
    header{
        .hero-image{
            background-image: url('/media/img/header-mini.png');
        }
    }
    #our_services{
        .circle{
            pointer-events:none;
        }
    }
    #portafolio{
        & img{
            pointer-events:none;
        }
    }
    #location{
        & iframe{
            width:15rem;
            height:15rem;
        }
    }
    #email_us{
        & button{
            pointer-events:none;
        }
    }
}
@media(width>576px){
    header{
        & hr{
            display: none;
        }
    }
}